@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffff;
  font-family: "Raleway", sans-serif;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.social{
  color: #8D8BA7;
}
.social:hover{
  color: #FFFFFF;
}


/* Change the active dot color */
.carousel .carousel .dot-selected {
  background-color: #000; /* Replace with your desired color */
}

/* Change the inactive dot color */
.carousel .carousel .dot {
  background-color: rgba(0, 0, 0, 0.3); /* Replace with your desired color */
}

@media screen and (max-width:3035px) {
  .logo {
    width: 150px;
  }
}
@media screen and (min-width: 320px) {
  .logo {
    width: 140px;
  }
}
@media screen and (max-width: 320px) {
  .logo {
    width: 120px;
  }
}




/* Loader  */

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-left: 4px solid #00000062;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 